
<header>
    <div class="header-container">
  
  <div class="logo">
    <div class="remove-bg"><img src="../assets/Premium Vector _ Vector graphic of clothes logo design template.png" height="60" width="100">
  </div>
  </div>
  <nav class="nav-links">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      <li><a href="/cart"><img src="../assets/shopb1.png" height="30" width="30" style="margin-top: -5px;" class="remove-bg"></a></li>
    </ul>
  </nav>
  
  
  </div>
  </header>
  
  <div id="fonts">
    <h4>Trade-in-offer</h4>
    <h2>Super Value Deals</h2>
    <h1>On all products</h1>
    <p>Save more with coupan & upto 70% off! </p>
    <br/><br/>
    <button>Shop now</button>
  
  </div>
  
  <section id="feature" class="section-p1">
    <div class="fe-box">
      <img src="../assets/download (1).png" height="100" width="100" alt="">
      <h6>Free Shipping</h6>
    </div>
  
    <div class="fe-box">
        <img src="../assets/discount.png" height="100" width="100" alt="">
        <h6>Free Shipping</h6>
    </div>
  
    <div class="fe-box">
          <img src="../assets/gft.png" height="100" width="100" alt="">
          <h6>Free Shipping</h6>
    </div>
    
    <div class="fe-box">
            <img src="../assets/like.png" height="100" width="100" alt="">
            <h6>Free Shipping</h6>
    </div>       
   
    <div class="fe-box">
      <img src="../assets/navigation.png" height="100" width="100" alt="">
      <h6>Free Shipping</h6>
    </div>
     
  
  
  </section>
  
  <section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    <p style="color: #606063;">Summer Collection New Modern Design </p>
    <div class="pro-container">
      <div class="pro">
          <img src="../assets/te3.png" alt="tee" height="300" width="300">
          <div class="dash">
            <span>Adidas</span>
            <h5>Cartoon Astronaut T-shirts</h5>
            <div class="remove-bg">
              <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
              <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
              <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
              <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
              <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            </div>
            <div id="position">
            <h4 >$56</h4>
          
            <span><a href="/cart"><img src="../assets/shopb1.png" style="font-size:2px; height:30px; width:30px;" ></a></span>
            </div>
          </div>
    </div>
  
    <div class="pro">
      <img src="../assets/tshirt1.png" alt="tee" height="300" width="300">
      <div class="dash">
        <span>Adidas</span>
        <h5>Cartoon Astronaut T-shirts</h5>
        <div class="remove-bg">
          <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
          <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
          <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
          <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
          <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        </div>
        <div id="position">
        <h4 >$56</h4>
      
        <span><a href="/cart"><img src="../assets/shopb1.png" style="font-size:2px; height:30px; width:30px;" ></a></span>
        </div>
      </div>
  </div>
  
  <div class="pro">
    <img src="../assets/tshirt2.png" alt="tee" height="300" width="300">
    <div class="dash">
      <span>Adidas</span>
      <h5>Cartoon Astronaut T-shirts</h5>
      <div class="remove-bg">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
      </div>
      <div id="position">
      <h4 >$56</h4>
    
      <span><a href="/cart"><img src="../assets/shopb1.png" style="font-size:2px; height:30px; width:30px;" ></a></span>
      </div>
    </div>
  </div>
  
  <div class="pro">
    <img src="../assets/t5.png" alt="tee" height="300" width="300">
    <div class="dash">
      <span>Adidas</span>
      <h5>Cartoon Astronaut T-shirts</h5>
      <div class="remove-bg">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
      </div>
      <div id="position">
      <h4 >$56</h4>
    
      <span><a href="/cart"><img src="../assets/shopb1.png" style="font-size:2px; height:30px; width:30px;" ></a></span>
      </div>
    </div>
  </div>
  
  <div class="pro">
    <img src="../assets/t6.png" alt="tee" height="300" width="300">
    <div class="dash">
      <span>Adidas</span>
      <h5>Cartoon Astronaut T-shirts</h5>
      <div class="remove-bg">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
      </div>
      <div id="position">
      <h4 >$56</h4>
    
      <span><a href="/cart"><img src="../assets/shopb1.png" style="font-size:2px; height:30px; width:30px;" ></a></span>
      </div>
    </div>
  </div>
  
  <div class="pro">
    <img src="../assets/t7.png" alt="tee" height="300" width="300">
    <div class="dash">
      <span>Adidas</span>
      <h5>Cartoon Astronaut T-shirts</h5>
      <div class="remove-bg">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
      </div>
      <div id="position">
      <h4 >$56</h4>
    
      <span><a href="/cart"><img src="../assets/shopb1.png" style="font-size:2px; height:30px; width:30px;" ></a></span>
      </div>
    </div>
  </div>
  
  <div class="pro">
    <img src="../assets/t8.png" alt="tee" height="300" width="300">
    <div class="dash">
      <span>Adidas</span>
      <h5>Cartoon Astronaut T-shirts</h5>
      <div class="remove-bg">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
      </div>
      <div id="position">
      <h4 >$56</h4>
    
      <span><a href="/cart"><img src="../assets/shopb1.png" style="font-size:2px; height:30px; width:30px;" ></a></span>
      </div>
    </div>
  </div>
  
  <div class="pro">
    <img src="../assets/t9.png" alt="tee" height="300" width="300">
    <div class="dash">
      <span>Adidas</span>
      <h5>Cartoon Astronaut T-shirts</h5>
      <div class="remove-bg">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
      </div>
      <div id="position">
      <h4 >$56</h4>
    
      <span><a href="/cart"><img src="../assets/shopb1.png" style="font-size:2px; height:30px; width:30px;" ></a></span>
      </div>
    </div>
  </div>
  
  <div class="pro">
    <img src="../assets/t10.png" alt="tee" height="300" width="300">
    <div class="dash">
      <span>Adidas</span>
      <h5>Cartoon Astronaut T-shirts</h5>
      <div class="remove-bg">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
      </div>
      <div id="position">
      <h4 >$56</h4>
    
      <span><a href="/cart"><img src="../assets/shopb1.png" style="font-size:2px; height:30px; width:30px;" ></a></span>
      </div>
    </div>
  </div>
  
  <div class="pro">
    <img src="../assets/t.png" alt="tee" height="300" width="300">
    <div class="dash">
      <span>Adidas</span>
      <h5>Cartoon Astronaut T-shirts</h5>
      <div class="remove-bg">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
      </div>
      <div id="position">
      <h4 >$56</h4>
    
      <span><a href="/cart"><img src="../assets/shopb1.png" style="font-size:2px; height:30px; width:30px;" ></a></span>
      </div>
    </div>
  </div>
  
  <div class="pro">
    <img src="../assets/t10.png" alt="tee" height="300" width="300">
    <div class="dash">
      <span>Adidas</span>
      <h5>Cartoon Astronaut T-shirts</h5>
      <div class="remove-bg">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
      </div>
      <div id="position">
      <h4 >$56</h4>
    
      <span><a href="/cart"><img src="../assets/shopb1.png" style="font-size:2px; height:30px; width:30px;" ></a></span>
      </div>
    </div>
  </div>
  
  <div class="pro">
    <img src="../assets/t10.png" alt="tee" height="300" width="300">
    <div class="dash">
      <span>Adidas</span>
      <h5>Cartoon Astronaut T-shirts</h5>
      <div class="remove-bg">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
        <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
      </div>
      <div id="position">
      <h4 >$56</h4>
    
      <span><a href="/cart"><img src="../assets/shopb1.png" style="font-size:2px; height:30px; width:30px;" ></a></span>
      </div>
    </div>
  </div>
  
    </div>
  </section>
  
  <section id="banner" class="section-m1">
    <h4>Repair Service</h4>
    <h2>Upto <span>70% off</span> - All t-shirts & Accessories</h2>
    <button class="normal">Explore More</button>
  </section>
  
  <section id="product1" class="section-p1">
    <h2>New Arrivals</h2>
    <p style="color: #606063;">Summer Collection New Modern Design</p>
    <div class="pro-container">
  
      <div class="pro">
        <img src="../assets/ar.png" alt="tee" height="300" width="300">
        <div class="dash">
          <span>Adidas</span>
          <h5>Cartoon Astronaut T-shirts</h5>
          <div class="remove-bg">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
          </div>
          <div id="position">
          <h4 >$56</h4>
        
          <span><a href="/cart"><img src="../assets/shopb1.png" style="font-size:2px; height:30px; width:30px;" ></a></span>
          </div>
        </div>
      </div>
      
      <div class="pro">
        <img src="../assets/ar2.png" alt="tee" height="300" width="300">
        <div class="dash">
          <span>Adidas</span>
          <h5>Cartoon Astronaut T-shirts</h5>
          <div class="remove-bg">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
          </div>
          <div id="position">
          <h4 >$56</h4>
        
          <span><a href="/cart"><img src="../assets/shopb1.png" style="font-size:2px; height:30px; width:30px;" ></a></span>
          </div>
        </div>
      </div>
      
      <div class="pro">
        <img src="../assets/ar3.png" alt="tee" height="300" width="300">
        <div class="dash">
          <span>Adidas</span>
          <h5>Cartoon Astronaut T-shirts</h5>
          <div class="remove-bg">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
          </div>
          <div id="position">
          <h4 >$56</h4>
        
          <span><a href="/cart"><img src="../assets/shopb1.png" style="font-size:2px; height:30px; width:30px;" ></a></span>
          </div>
        </div>
      </div>
      
      <div class="pro">
        <img src="../assets/ar4.png" alt="tee" height="300" width="300">
        <div class="dash">
          <span>Adidas</span>
          <h5>Cartoon Astronaut T-shirts</h5>
          <div class="remove-bg">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
          </div>
          <div id="position">
          <h4 >$56</h4>
        
          <span><a href="/cart"><img src="../assets/shopb1.png" style="font-size:2px; height:30px; width:30px;" ></a></span>
          </div>
        </div>
      </div>
      
      
      <div class="pro">
        <img src="../assets/ar5.png" alt="tee" height="300" width="300">
        <div class="dash">
          <span>Adidas</span>
          <h5>Cartoon Astronaut T-shirts</h5>
          <div class="remove-bg">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
          </div>
          <div id="position">
          <h4 >$56</h4>
        
          <span><a href="/cart"><img src="../assets/shopb1.png" style="font-size:2px; height:30px; width:30px;" ></a></span>
          </div>
        </div>
      </div>
      
      
      <div class="pro">
        <img src="../assets/ar6.png" alt="tee" height="300" width="300">
        <div class="dash">
          <span>Adidas</span>
          <h5>Cartoon Astronaut T-shirts</h5>
          <div class="remove-bg">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
          </div>
          <div id="position">
          <h4 >$56</h4>
        
          <span><a href="/cart"><img src="../assets/shopb1.png" style="font-size:2px; height:30px; width:30px;" ></a></span>
          </div>
        </div>
      </div>
      
      
      <div class="pro">
        <img src="../assets/ar7.png" alt="tee" height="300" width="300">
        <div class="dash">
          <span>Adidas</span>
          <h5>Cartoon Astronaut T-shirts</h5>
          <div class="remove-bg">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
          </div>
          <div id="position">
          <h4 >$56</h4>
        
          <span><a href="/cart"><img src="../assets/shopb1.png" style="font-size:2px; height:30px; width:30px;" ></a></span>
          </div>
        </div>
      </div>
      
      
      <div class="pro">
        <img src="../assets/ar8.png" alt="tee" height="300" width="300">
        <div class="dash">
          <span>Adidas</span>
          <h5>Cartoon Astronaut T-shirts</h5>
          <div class="remove-bg">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
          </div>
          <div id="position">
          <h4 >$56</h4>
        
          <span><a href="/cart"><img src="../assets/shopb1.png" style="font-size:2px; height:30px; width:30px;" ></a></span>
          </div>
        </div>
      </div>
      
      
      <div class="pro">
        <img src="../assets/ar9.png" alt="tee" height="300" width="300">
        <div class="dash">
          <span>Adidas</span>
          <h5>Cartoon Astronaut T-shirts</h5>
          <div class="remove-bg">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
          </div>
          <div id="position">
          <h4 >$56</h4>
        
          <span><a href="/cart"><img src="../assets/shopb1.png" style="font-size:2px; height:30px; width:30px;" ></a></span>
          </div>
        </div>
      </div>
      
      
      <div class="pro">
        <img src="../assets/ar10.png" alt="tee" height="300" width="300">
        <div class="dash">
          <span>Adidas</span>
          <h5>Cartoon Astronaut T-shirts</h5>
          <div class="remove-bg">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
          </div>
          <div id="position">
          <h4 >$56</h4>
        
          <span><a href="/cart"><img src="../assets/shopb1.png" style="font-size:2px; height:30px; width:30px;" ></a></span>
          </div>
        </div>
      </div>
      
      
      <div class="pro">
        <img src="../assets/ar11.png" alt="tee" height="300" width="300">
        <div class="dash">
          <span>Adidas</span>
          <h5>Cartoon Astronaut T-shirts</h5>
          <div class="remove-bg">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
          </div>
          <div id="position">
          <h4 >$56</h4>
        
          <span><a href="/cart"><img src="../assets/shopb1.png" style="font-size:2px; height:30px; width:30px;" ></a></span>
          </div>
        </div>
      </div>
      
      
      <div class="pro">
        <img src="../assets/arr12.png" alt="tee" height="300" width="300">
        <div class="dash">
          <span>Adidas</span>
          <h5>Cartoon Astronaut T-shirts</h5>
          <div class="remove-bg">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
            <img src="../assets/star.png" style="font-size:2px; height:20px; width:20px;">
          </div>
          <div id="position">
          <h4 >$56</h4>
        
          <span><a href="/cart"><img src="../assets/shopb1.png" style="font-size:2px; height:30px; width:30px;" ></a></span>
          </div>
        </div>
      </div>    
    </div>
  </section>
  
  
  <section id="sm-banner" class="section-p1">
     
    <div class="banner-box">
      <h4>Crazy Deals!!</h4>
      <h2>buy 1 get 1 free</h2>
      <h6>The best classic dress is on sale at cara</h6>
      <button class="normal2" >Learn More</button>
     </div>
  
     <div class="banner-box banner-box2 " >
      <h4>Spring Summer</h4>
      <h2>upcoming season</h2>
      <h6>The best classic dress is on sale at cara</h6>
      <button class="normal2">Learn More</button>
     </div>
     
  </section>
  
  <section id="banner3">
     <div class="banner-box">
  
      <h2>Seasonal Sale</h2>
      <h4>winter Collection <span>-50%</span> OFF</h4>
      </div>
  
     <div class="banner-box banner-box2">
      <h2>NEW COLLECTION</h2>
      <h4>Spring / Summer</h4>
      </div>
  
     <div class="banner-box banner-box3">
      <h2>T-SHIRTS</h2>
      <h4>New Trendy Prints</h4>
      </div>
    
  </section>
  
  <section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
      <h4>SignUp for newsletter</h4>
      <p style="padding-left:35px ;">Get E-mail updates about our latest shop and <span>special offer</span></p>
    </div>
    <div class="form">
       <input type="text" placeholder="your E-mail address">
       <button >Sign Up</button>
    </div>
  </section>
  
  
  <footer class="section-p1">
    <div>
      <img src="" alt="">
      <h4>Contact</h4>
      <p>Address: <strong>webanix, panchwati rd., near saheli mahal, udaipur</strong></p>
      <p><strong>Phone:</strong></p>
      <p><strong>Hours:</strong></p>
      <div class="follow">
        <h4>Follow Us</h4>
        <div class="icons remove-bg">
          <img src="../assets/fb.png" alt="facebook" height="30px" width="30px">
          <img src="../assets/twt.png" alt="twitter" height="30px" width="30px">
          <img src="../assets/ig.png" alt="instagram" height="30px" width="30px">
          <img src="../assets/pin.png" alt="pintrest" height="30px" width="30px">
          <img src="../assets/yt.png" alt="youtube" height="30px" width="30px">
  
        </div>
      </div>
    </div>
    
    <div class="col">
      <h4>About</h4>
      <a href="/about">About Us</a>
      <a href="/delivery">Delivery Information</a>
      <a href="/privacy">Privacy Policy</a>
      <a href="/terms">Terms &Condition</a>
      <a href="/contact">Contact Us</a>
    </div>
  
    <div class="col">
      <h4>My Account</h4>
      <a href="/Sign">Sign In</a>
      <a href="/Cart">View Cart</a>
      <a href="/Wishlist">My Wishlist</a>
      <a href="/Track">Track My Order</a>
      <a href="/Help">Help</a>
    </div>
  
    <div class="col install">
      <h4>Install App</h4>
      <p>From Google Play or App Store</p>
      <div class="row">
        <img src="" alt="" height="" width="">
        <img src="" alt="" height="" width="">
      </div>
      <p>secured Payment Gateways</p>
      <img src="../assets/visa.png" alt="" height="30px" width="50px">
      <img src="../assets/mc.png" alt="" height="30px" width="50px">
      <img src="../assets/mg.png" alt="" height="30px" width="50px">
      <img src="../assets/paypal.png" alt="" height="30px" width="50px">
       
      <div class="copyright">
        <p>0 2024, Tech2 etc - HTML CSS Ecommerce</p>
      </div>
    
    </div>
  
  
  
  </footer>